/* Project2 CSS */
/* -------------------------------------------- */
/* whole body will get this css */
body{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* div main */
.main{
    width: 90%;
    height: auto;     margin: auto; 
}
/* div first */
.first{
    width: 100%;
    height: 500px;
    background: url("images/bridge1.jpg") center/cover no-repeat;
}
/*css for nav*/
.navbar{
    display: flex;
    justify-content: space-around;
}
/*css for antique label */
.navbar>p{
    width: 10%;
    color: white;
    font-size: xx-large;
}
/* nav in div first */
.navbar>nav{
    width: 40%;
}
/* unordered list in div first */
ul{
    display: flex;
    justify-content: space-between;
}
/* direct child of unordered list in div first */
ul>li{
    display: inline-block;
}
/* direct child of list in div first */
li>a{
    text-decoration: none;
    color: white;
    line-height: 75px;
}
li>a:hover{
    padding: 10px;
    background-color: darkturquoise;
    border: 1px solid white;
    border-radius: 5px;
}
/* welcom id */
#welcome{
    width: 55%;
    margin-left: 160px;
    margin-top: 90px;
}
/* direct child of welcome id in div first */
#welcome>h1{
    font-size: 80px;
    color: white;
}
/* para */
.para{
    color: white;
    font-size: 17px;
    text-align: left;
}
/* button class in div first */
.button{
    border-radius: 8px;
    border: 1px solid white;
    width: 20%;
}
.button:hover{
    background-color: darkturquoise;
}
/* direct child of class button div first */
.button>p{
    color: white;
    text-align: center;
}
.divide{
    width: 100%;
    height: 20px;
    margin-top: -20px;
}
/* second div */
.second{
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: rgb(243, 242, 242);
    padding-bottom: 60px;
}
/* direct child of class second */
.second>h1{
    color: rgb(25, 184, 233);
    text-align: center;
    margin-top: 10px;
}
/* adjuscent child */
h1+p{
    text-align: center;
    margin-top: -15px;
}
/* images */
img{
    margin-left: 100px;
    margin-top: 40px;
}
/* id about will get this css */
#about{
    width: 600px;
    float: right;
    /* height: 550px; */
    margin-right: 90px;
    margin-top: 40px;
}
/* class features */
.feature{
    border: 3px solid rgb(25, 184, 233);
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    width: 160px; 
    height: 60px;
    float: left;
    background-color: white;
    text-align: center;
    font-size:large ;
 
}
/* class about in div second */
.about{
    width: 150px;
    float: right;
    height: 100px;
    text-align: center;
    margin-right: 60px;
    font-size:large ;
}
/* brand icon */
.features{
    width: 600px;
    height: 287px;      
    margin-top: 60px;
    background-color: white ;
}
/* brand icon */
.features i{
    font-size: larger;
    margin-left: -110px;
    margin-top: 20px;
    float: left;
}
/* brand icon */
.features span{
    float:left;
    margin-left: 100px;
    margin-top: -40px;
}
/* brand icon */
.features span>p{
    margin-top: -30px;
}
/* brand icon */
#trophy{
    margin-top: 70px;
    margin-left: -550px;
}
/* brand icon */
#phone
{
    margin-top: 90px;
    margin-left: -550px;
} 
/* div third */
.third{
    width: 100%;
    height: auto;
}
/* direct child of div third */
.third>h1{
    color: rgb(25, 184, 233);
    text-align: center;
}
/* class all in div third */
.all{
    float: left;
    margin-left: 510px;
    margin-top: 20px;
}
.all li:hover{
    color: rgb(25, 184, 233);
}
/* grid */
.gridcontainer{
    width: 60%;
    margin-top: 40px;
    margin-left: 250px;
    height: auto;
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3,150px);
}
/* div 1 in grid */
.div1{  
    background-image: url("images/img1.PNG");
}
/* div 2 in grid */
.div2{
    grid-area: 1/2/3/3;
    background-image: url("images/img2.PNG");
}
/* div 3 in grid */
.div3{
    background-image: url("images/img3.PNG");
}
/* div 4 in grid */
.div4{
    grid-area: 2/1/4/2;
    background-image: url("images/img4.PNG");
}
/* div 5 in grid */
.div5{
    background: url("images/img5.PNG") center/cover no-repeat;
}
/* div 6 in grid */
.div6{
    grid-area: 2/3/4/4;
    background: url("images/img6.PNG") center/cover no-repeat;
}

/* div4 */
.four{
    width: 100%;
    height: auto;
    background-color: rgb(243, 242, 242);
    margin-top: 50px;
    padding-bottom: 100px;
}
/* direct child of div four */
.four>h1{
    color: rgb(25, 184, 233);
    text-align: center;
    padding-top: 40px;
}
.work{
    width: 55%;
    height: 510px;
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    /* background-color: white; */
}
/* direct */
.work>div{
    width: 48%;
    margin: 5px;
    height: 250px;
    float: left;
}
/* fonts in div four */
#fonts{
    width: 100%;
    margin-left: 25px;
    margin-top: 20px;
}
/* brand icon */
.icon{
    width: 20%;
    height: 60px;
    background-color: rgb(25, 184, 233);
    border-radius: 100%;
    margin-left: 25px;
}
/* for all heading inside div */
.work>div h2{
    margin-left: 10px;
}
/* for all paragraph inside div */
.work>div p{
    margin-left: 10px;
    text-align: left;
    line-height: 30px;
}
/* div five  */
.five{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.five div{
    width: 25%;
    text-align: center;
}
.image{
    width: 100%;
    height: 100px;
    background: url("images/nature.jpg") center/cover no-repeat;
}
/* div six */
.six{
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: rgb(243, 242, 242);
}
/* direct child of div six */
.six>h1{
    color: rgb(25, 184, 233);
    text-align: center;
}
/* flexcont class */
.flexcont{
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* class contener */
.container{
    display: flex;
    flex-direction: column;
    width: 23%;
}
/*contener images*/
.container img{
    width: 100%;
    height: 400px;
    margin: 0;
}
/*content*/
.content{
    width: 90%;
    background-color: white;
    text-align: center;
    margin: -30px 0 0 14px;    padding-bottom: 20px;
}
/*social icons*/
.content i, .iconimg i{
    color: gray;
    margin-left: 10px;
    font-size: 20px;
}
.content i:hover, .iconimg i:hover{
    color: rgb(25, 184, 233);
    font-size: 23px;
}
/* div seven */
.seven{
    width: 100%;
    height: 200px;
    background: url("images/nature1.jpg") center/100% no-repeat;
    margin-top: -16px;  padding-top: 60px;
}
/* direct child of div class seven */
.seven>div{
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
}
/* eight */
.eight{
    width: 100%;
    height: 500px;
    margin-top: 15px;
}
/*  direct child of div class eight */
.eight>h1{
    color: rgb(25, 184, 233);
    text-align: center;
}
/* class */
.left{
    width: 45%;
    height: 200px;
    margin-top: 50px;
    float: left;
    color: rgb(88, 87, 87);
}
/* direct child */
.left>h1{
    float: right;
}
/* text in left div */
.left p{
  text-align: right;
}
/*form*/
.form{
    width: 45%;
    float: right;
    margin-right: 70px;
    height: 330px;
    margin-top: 50px;
}
/* button */
button{
    color: white;
    width: 91%;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(25, 184, 233);
}
button:hover{
    background-color: grey;
}
/* div nine */
.nine{
    width: 100%;
    height: 200px;  margin-bottom: 30px;
    background-color: rgb(39, 38, 38);
}
/* direct child of div nine */
.nine>h1{
    padding-top: 5%;
    color: rgb(25, 184, 233);
    text-align: center;
    margin-bottom: 50px;
}
/* general sibling */
.nine>h1~p{
     color: rgb(138, 136, 136);
     font-size: large;
}